#exist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#exist h1{
    font-size: 30px;
    font-family: Calibri;
    margin-bottom: 60px;
}
#form{
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#form label{
    font-size: 25px;
    font-family: Calibri;
    font-weight: 600;
    display: block;
  
}
#form input{
    padding: 3px 10px;
    height: 35px;
    width: 300px;
    border: 0.4px solid gray;
    border-radius: 10px;
    display: block;
    margin: 17px;
    font-size: 20px;
    font-family: Calibri;
}
#form button{
    height: 30px;
    width: 120px;
    border: 0.3px solid gray;
    border-radius: 10px;
    background-color: rgb(217, 230, 173);
    font-size: 18px;
}
#form button:hover{
    cursor: pointer;
}
#form button:active{
    background-color: rgb(164, 172, 140);
}
#table_div h2{
    font-size: 20px;
    font-family: Calibri;
    margin: 10px;
    display: flex;
    justify-content: center;
}
#table{
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#table thead, #table tbody{
    width: 300px;
}
#table thead tr{
    width: 60%;
    display: flex;
    align-items: center;
}#table tbody tr{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#table th,#table td{
    font-size: 20px;
    font-family:Calibri;
    padding: 0 30px ;
    align-self: center;
}