#nav{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 224, 110);
}
#div{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
#div a{
    text-decoration: none;
    font-size: 30px;
    font-family:Calibri;
    font-weight: 600;
    margin: 20px;
}